*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}




/* About Section */

.About-section{
    height: 0 auto;
    width: 0 auto;
}

.text-contain{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.text-h6{
    font-size: 30px;
    font-weight: normal;
    color: red;
    margin-bottom: 30px;
}

.text-h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.text-p{
    color: gray;
    font-size: 20px;
}


.about-img-section{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #070211;
    padding: 5px;
}






/* contact section */

.contact-section{
    height: 0 auto;
    width: 0 auto;
}


.contact-container{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    padding: 25px;
    align-items: center;
}

.contact-img-text-btn{
    text-align: center;
    background-color: #ff010554;
    padding: 150px;
    border-radius: 10px;  
}

.img-contact{
    height: 0 auto;
    width: 0 auto;
    margin-bottom: 20px;
}

.contact-head{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-p{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    color: gray;
}

.input-contact{
    padding: 35px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    height: 0 auto;
    outline: yellow;
}

.btn-contact{
    padding: 25px;
    border: none;
    background-color: red;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.input-contact:hover{
    cursor: pointer;
}
.btn-contact:hover{
    cursor: pointer;
    color: black;
}






/* footer */


.footer-container{
    background-color: #070211;
    height: 0 auto;
    width: 0 auto;
    color: white;
    font-size: 25px;
    font-weight: normal;
}



/* last part div */


.txt-two-part{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    padding: 40px;
    gap: 50px;
    /* font-size: 30px;*/
} 


.txt-right{
    justify-content: start;
    margin-top: 45px;
}

.txt-left{
    justify-content: end;
    margin-top: 45px;

}

.p-footer{
    margin-top: 30px;
}


.fav-icon-div{
    gap: 50px;
    text-decoration: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    /* font-size: 30px; */
}

.fa-brands{
    /* border: 2px solid rgb(191, 245, 66); */
    border: 2px solid #070211;
    border-radius: 10px;
    background-color: #070211;
}

.fa-brands:hover{
    cursor: pointer;
    color: rgb(3,252,198);
}

.fa-solid:hover{
    cursor: pointer;
    color: rgb(3,252,198);
}

.last-part-hr{
    display: flex;
    padding: 30px;
}

.footer-hr{
    width: 1600px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* font-size: 25px; */
}

/* .copy,.unsub{
    font-size: 28px;
} */


.last-part-div{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    padding: 35px;
}